<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrapper News Live </title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h3>Scrapper News</h3>
        </div>
        <div class="body">
            <div class="headlines">
                <% news.map(n => { %>  
                <div class="headline">
                    <p class="date"><%-n.date-%></p>
                    <h2><%-n.title-%></h2>
                    <img src="<%-n.image%>" width="200" height="auto" alt="<%-n.title-%>">
                    <p><%-n.info-%></p>
                </div>
                <% }); %>
            </div>
        </div>
    </div>
    
</body>
</html>